<?xml version="1.0"?>
<launch>    
	<!-- Lidar: Start detector for the Velodyne -->
	<node pkg="lidar_detector" type="lidar_detector_node" name="lidar_detector"/>

	<!-- Stereo camera: Start detector for ueye stereo camera -->
	<node pkg="stereo_detector" type="stereo_detector_node" name="stereo_detector"/>

	<!-- Radar: Start detector for radar -->
	<!-- _selection_basis: either rcs or range -->
	<!-- _selection_criterion: either min or max -->
	<node pkg="radar_detector" type="radar_detector_node" name="radar_detector" 
	      args="_minimum_RCS:=-10 _maximum_RCS:=15 _max_range_object:=5 _selection_basis:=range _selection_criterion:=min"/>
</launch>
